<button class="btn btn-outline-info"> clique aqui 
</button>
@{
    string nome = "heloisa";
}
<h1>ola, @nome </h1>
<p>hoje é @DataTime.Now.ToString("dd.mm.yyy")</p>
@{
    bool MostrarMensgens = true;
    if(MostrarMensgens == true;){
        <p>esta mensagem entrou no if</p>
    }
    for(int i=1; i<=10; i++){
        int res = i*&;
        <p> 8 x @i = @res</p>
    }
}
